.single-feature-item {
  padding: 25px;
  border: 1px solid #ececec;
  border-radius: 3px;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-feature-item:hover {
    background: #ffffff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}

.single-feature-item .feature-icon {
    margin-right: 15px;
    
    line-height: 45px;
    color: #4285F4;
}

.services .media {
    webkit-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
} 

.services .media:hover {
    background: #ffffff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}
